@page "{id?}"
@model SIM.Presentation.Pages.Budget.UpsertModel
@{
    ViewData["ActivePage"] = "Budget";
    ViewData["Title"] = Model.Id.HasValue ? "Update Budget" : "Create Budget";
}

<form method="post">
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
            <div class="flex gap-1">
                <label asp-for="Budget.StartDate" class="block mb-2 text-sm font-medium text-white"></label>
                <span class="text-sm text-red-400">*</span>
            </div>
            <input type="date" asp-for="Budget.StartDate" class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:border-blue-500" placeholder="Enter start date" />
            <span asp-validation-for="Budget.StartDate" class="text-red-400 text-sm"></span>
        </div>
        <div>
            <div class="flex gap-1">
                <label asp-for="Budget.EndDate" class="block mb-2 text-sm font-medium text-white"></label>
                <span class="text-sm text-red-400">*</span>
            </div>
            <input type="date" asp-for="Budget.EndDate" class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:border-blue-500" placeholder="Enter end date" />
            <span asp-validation-for="Budget.EndDate" class="text-red-400 text-sm"></span>
        </div>
        <div>
            <div class="flex gap-1">
                <label asp-for="Budget.TotalAmount" class="block mb-2 text-sm font-medium text-white"></label>
                <span class="text-sm text-red-400">*</span>
            </div>
            <input type="number" asp-for="Budget.TotalAmount" class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:border-blue-500" placeholder="Enter your Budget stock quantity" />
            <span asp-validation-for="Budget.TotalAmount" class="text-red-400 text-sm"></span>
        </div>
        <div>
            <label asp-for="Budget.CategoryId" class="block mb-2 text-sm font-medium text-white"></label>
            <select asp-for="Budget.CategoryId" asp-items="Model.Categories" class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:border-blue-500">
                <option value="">-- Select Category --</option>
            </select>
        </div>
    </div>
    <div class="flex justify-end gap-2">
        <button type="submit" asp-page-handler="Back" class="text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-gray-600 hover:bg-gray-700">
            Back
        </button>
        <button type="submit" asp-page-handler="Save" class="text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700">
            @(Model.Id.HasValue ? "Update" : "Create")
        </button>
    </div>
</form>

<partial name="_ValidationScriptsPartial" />
<partial name="_Toast" />