USE [master]
GO
/****** Object:  Database [imdb]    Script Date: 10/20/2025 12:09:07 PM ******/
CREATE DATABASE [imdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'imdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\imdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'imdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\imdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [imdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [imdb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/20/2025 12:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Budgets]    Script Date: 10/20/2025 12:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Budgets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[TotalExpense] [decimal](18, 2) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
	[CategoryId] [int] NULL,
	[UserId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Budgets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionCategories]    Script Date: 10/20/2025 12:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TransactionCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionItems]    Script Date: 10/20/2025 12:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[TransactionId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TransactionItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 10/20/2025 12:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[TransactionType] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[VendorId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/20/2025 12:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 10/20/2025 12:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VendorName] [nvarchar](200) NOT NULL,
	[ContactEmail] [nvarchar](255) NULL,
	[ContactPhone] [nvarchar](20) NULL,
	[Address] [nvarchar](500) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Vendors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251019121407_InitialCreate', N'9.0.9')
GO
SET IDENTITY_INSERT [dbo].[Budgets] ON 

INSERT [dbo].[Budgets] ([Id], [TotalAmount], [TotalExpense], [StartDate], [EndDate], [Status], [CategoryId], [UserId], [IsDeleted], [CreatedDate]) VALUES (1, CAST(500.00 AS Decimal(18, 2)), CAST(450.00 AS Decimal(18, 2)), CAST(N'2024-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2024-01-31T00:00:00.0000000' AS DateTime2), 1, 1, 1, 0, CAST(N'2024-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Budgets] ([Id], [TotalAmount], [TotalExpense], [StartDate], [EndDate], [Status], [CategoryId], [UserId], [IsDeleted], [CreatedDate]) VALUES (2, CAST(300.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2024-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2024-01-31T00:00:00.0000000' AS DateTime2), 1, 2, 1, 0, CAST(N'2024-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Budgets] ([Id], [TotalAmount], [TotalExpense], [StartDate], [EndDate], [Status], [CategoryId], [UserId], [IsDeleted], [CreatedDate]) VALUES (3, CAST(1200.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), CAST(N'2024-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2024-01-31T00:00:00.0000000' AS DateTime2), 1, 3, 1, 0, CAST(N'2024-01-01T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Budgets] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionCategories] ON 

INSERT [dbo].[TransactionCategories] ([Id], [Name], [Description], [IsDeleted], [CreatedDate]) VALUES (1, N'Food', NULL, 0, CAST(N'2024-02-15T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[TransactionCategories] ([Id], [Name], [Description], [IsDeleted], [CreatedDate]) VALUES (2, N'Transportation', NULL, 0, CAST(N'2024-02-15T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[TransactionCategories] ([Id], [Name], [Description], [IsDeleted], [CreatedDate]) VALUES (3, N'Housing', NULL, 0, CAST(N'2024-02-15T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[TransactionCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionItems] ON 

INSERT [dbo].[TransactionItems] ([Id], [ItemName], [Quantity], [Price], [Total], [TransactionId], [IsDeleted], [CreatedDate]) VALUES (1, N'Laptop', 1, CAST(999.99 AS Decimal(18, 2)), CAST(999.99 AS Decimal(18, 2)), 2, 0, CAST(N'2025-01-10T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[TransactionItems] ([Id], [ItemName], [Quantity], [Price], [Total], [TransactionId], [IsDeleted], [CreatedDate]) VALUES (2, N'Charger', 2, CAST(29.99 AS Decimal(18, 2)), CAST(29.99 AS Decimal(18, 2)), 2, 0, CAST(N'2025-02-10T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[TransactionItems] ([Id], [ItemName], [Quantity], [Price], [Total], [TransactionId], [IsDeleted], [CreatedDate]) VALUES (3, N'Printer', 2, CAST(149.99 AS Decimal(18, 2)), CAST(299.98 AS Decimal(18, 2)), 4, 0, CAST(N'2025-02-15T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[TransactionItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([Id], [TotalAmount], [TransactionType], [CategoryId], [UserId], [VendorId], [IsDeleted], [CreatedDate]) VALUES (1, CAST(12000.00 AS Decimal(18, 2)), 0, 4, 1, 3, 1, CAST(N'2025-01-05T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Transactions] ([Id], [TotalAmount], [TransactionType], [CategoryId], [UserId], [VendorId], [IsDeleted], [CreatedDate]) VALUES (2, CAST(1029.98 AS Decimal(18, 2)), 1, 5, 1, 1, 1, CAST(N'2025-01-10T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Transactions] ([Id], [TotalAmount], [TransactionType], [CategoryId], [UserId], [VendorId], [IsDeleted], [CreatedDate]) VALUES (3, CAST(12500.00 AS Decimal(18, 2)), 0, 4, 1, 3, 1, CAST(N'2025-02-01T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [PasswordHash], [Email], [Phone], [Address], [IsDeleted], [CreatedDate]) VALUES (1, N'Edward', N'Tran', N'100000.xoOaNrEukE+6bc1KUCkD+Q==.CP+sKGB54pKQ+qDs5yh1XMjrEOc2kJKniMlVGh17W7o=', N'admin@gmail.com', N'123-456-7890', N'123 Main St', 0, CAST(N'2024-01-01T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendors] ON 

INSERT [dbo].[Vendors] ([Id], [VendorName], [ContactEmail], [ContactPhone], [Address], [IsDeleted], [CreatedDate]) VALUES (1, N'Tech Supplies Inc.', N'info@techsupplies.com', N'555-100-2000', N'789 Tech Park', 0, CAST(N'2024-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Vendors] ([Id], [VendorName], [ContactEmail], [ContactPhone], [Address], [IsDeleted], [CreatedDate]) VALUES (2, N'Office Essentials', N'sales@officeessentials.com', N'555-100-3000', N'321 Business Blvd', 0, CAST(N'2024-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Vendors] ([Id], [VendorName], [ContactEmail], [ContactPhone], [Address], [IsDeleted], [CreatedDate]) VALUES (3, N'Premium Electronics', N'support@premiumelectronics.com', N'555-100-4000', N'555 Digital Ave', 0, CAST(N'2024-01-01T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Vendors] OFF
GO
/****** Object:  Index [IX_Budgets_CategoryId]    Script Date: 10/20/2025 12:09:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_Budgets_CategoryId] ON [dbo].[Budgets]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Budgets_UserId]    Script Date: 10/20/2025 12:09:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_Budgets_UserId] ON [dbo].[Budgets]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TransactionItems_TransactionId]    Script Date: 10/20/2025 12:09:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_TransactionItems_TransactionId] ON [dbo].[TransactionItems]
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transactions_CategoryId]    Script Date: 10/20/2025 12:09:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_Transactions_CategoryId] ON [dbo].[Transactions]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transactions_UserId]    Script Date: 10/20/2025 12:09:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_Transactions_UserId] ON [dbo].[Transactions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transactions_VendorId]    Script Date: 10/20/2025 12:09:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_Transactions_VendorId] ON [dbo].[Transactions]
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 10/20/2025 12:09:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)
WHERE ([Email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Budgets]  WITH CHECK ADD  CONSTRAINT [FK_Budgets_TransactionCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[TransactionCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Budgets] CHECK CONSTRAINT [FK_Budgets_TransactionCategories_CategoryId]
GO
ALTER TABLE [dbo].[Budgets]  WITH CHECK ADD  CONSTRAINT [FK_Budgets_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Budgets] CHECK CONSTRAINT [FK_Budgets_Users_UserId]
GO
ALTER TABLE [dbo].[TransactionItems]  WITH CHECK ADD  CONSTRAINT [FK_TransactionItems_Transactions_TransactionId] FOREIGN KEY([TransactionId])
REFERENCES [dbo].[Transactions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TransactionItems] CHECK CONSTRAINT [FK_TransactionItems_Transactions_TransactionId]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_TransactionCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[TransactionCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_TransactionCategories_CategoryId]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Users_UserId]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Vendors_VendorId] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendors] ([Id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Vendors_VendorId]
GO
USE [master]
GO
