@page
@using SIM.Core.DTOs.Common
@model SIM.Presentation.Pages.TransactionCategory.TransactionCategoryModel
@{
    ViewData["Title"] = ViewData["ActivePage"] = "Transaction Category";
}

<div class="p-4 border border-gray-700 shadow-sm rounded-lg">
    <div class="flex justify-between">
        <h1 class="mb-4 text-lg font-bold">Transaction Categories</h1>
        <a asp-page="/TransactionCategory/Upsert" class="border font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 border-blue-500 text-blue-500 hover:text-white hover:bg-blue-500">+ Create Transaction Category</a>
    </div>

    @await Html.PartialAsync("_DataTable", new DataTableViewModel
    {
        ShowActions = true,
        Headers = new List<string> { "Name", "Description" },
        Rows = Model.TransactionCategories.Select(tc => new TableRow
        {
            Cells = new List<TableCell>
            {
                new TableCell { Value = tc.Name },
                new TableCell { Value = tc.Description }
            },
            Actions = new List<TableAction>
            {
                new TableAction { Url = $"/TransactionCategory/Upsert/{tc.Id}", Icon = "edit_square", CssClass = "text-blue-700 hover:text-blue-600" },
                new TableAction { Url = $"/TransactionCategory/Delete/{tc.Id}", Icon = "delete", CssClass = "text-red-700 hover:text-red-600" }
            }
        }).ToList()
    })
</div>

<partial name="_Toast" />