@page
@using SIM.Core.DTOs.Common
@model SIM.Presentation.Pages.TransactionCategory.TransactionCategoryModel
@{
    ViewData["Title"] = ViewData["ActivePage"] = "Transaction Category";
}

<div class="p-4 border border-gray-700 shadow-sm rounded-lg">
    <h1 class="mb-4 text-lg font-bold">Transaction Categories</h1>

    @await Html.PartialAsync("_DataTable", new DataTableViewModel
    {
        Headers = new List<string> { "Name", "Description" },
        Rows = Model.TransactionCategories.Select(tc => new TableRow
        {
            Cells = new List<TableCell>
            {
                new TableCell { Value = tc.Name },
                new TableCell { Value = tc.Description }
            }
        }).ToList()
    })
</div>
