@page "{id?}"
@model SIM.Presentation.Pages.TransactionCategory.UpsertModel
@{
    ViewData["ActivePage"] = "Transaction Category";
    ViewData["Title"] = Model.Id.HasValue ? "Update Category" : "Create Category";
}

<form method="post">
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
            <div class="flex gap-1">
                <label asp-for="Category.Name" class="block mb-2 text-sm font-medium text-white"></label>
                <span class="text-sm text-red-400">*</span>
            </div>
            <input type="text" asp-for="Category.Name" class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:border-blue-500" placeholder="Enter your category name" />
            <span asp-validation-for="Category.Name" class="text-red-400 text-sm"></span>
        </div>
        <div>
            <label asp-for="Category.Description" class="block mb-2 text-sm font-medium text-white"></label>
            <input type="text" asp-for="Category.Description" class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:border-blue-500" placeholder="Enter your category description" />
        </div>
    </div>
    <div class="flex justify-end gap-2">
        <button type="submit" asp-page-handler="Back" class="text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-gray-600 hover:bg-gray-700">
            Back
        </button>
        <button type="submit" asp-page-handler="Save" class="text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700">
            @(Model.Id.HasValue ? "Update" : "Create")
        </button>
    </div>
</form>

<partial name="_ValidationScriptsPartial" />