@page
@using SIM.Core.DTOs.Common
@model SIM.Presentation.Pages.Transactions.IndexModel
@{
    ViewData["Title"] = ViewData["ActivePage"] = "Transactions";
}

<div class="p-4 border border-gray-700 shadow-sm rounded-lg">
    <div class="flex justify-between">
        <h1 class="mb-4 text-lg font-bold">Transactions</h1>
        <a asp-page="/Transaction/Create" class="border font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 border-blue-500 text-blue-500 hover:text-white hover:bg-blue-500">+ Create Transaction</a>
    </div>

    @await Html.PartialAsync(partialViewName: "_DataTable", new DataTableViewModel
    {
        ShowActions = true,
        Headers = new List<string> { "Type", "Total", "Category", "Vendor", "Created" },
        Rows = Model.Transactions.Select(t => new TableRow
        {
            Cells = new List<TableCell>
            {
                new TableCell { Value = t.Type.ToString() },
                new TableCell { Value = t.TotalAmount.ToString("C") },
                new TableCell { Value = t.CategoryName },
                new TableCell { Value = t.VendorName },
                new TableCell { Value = t.CreateDate.ToString("g") }
            },
            Actions = new List<TableAction>
            {
                new TableAction { Url = $"/Transaction/Upsert/{t.Id}", Icon = "edit_square", CssClass = "text-blue-700 hover:text-blue-600" },
                new TableAction { Url = $"/Transaction/Delete/{t.Id}", Icon = "delete", CssClass = "text-red-700 hover:text-red-600" }
              }
        }).ToList()
    })
</div>

<partial name="_Toast" />
